<p>
  <strong>Comment:</strong>
  <%= comment.body %> (<%= comment.commenter %>)
</p>

<p>
<%= link_to 'Delete Comment', [comment.article, comment], method: :delete,
  data: {confirm: 'Are you sure you want to delete this comment?'} %>
</p>
