<h1>List of Articles</h1>

<table>
  <tr>
    <th>Title</th> 
    <th>Text</th>
  </tr>

  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td> 
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete', article_path(article), method: :delete, 
        data: {confirm: 'Are you sure you want to delete the post?'}%></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New article', new_article_path %>
